<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.mmu.bbb"
        version   = "1.0.0">

        <name>The Big Birley Bang</name>

        <description>
                An App to Support Induction 2014
        </description>

        <author href="http://www.mmu.ac.uk/ioe" email="m.peace@mmu.ac.uk">
                Mark Peace
        </author>

        <content src="index.html" />
        <access origin="*" />

        <preference name="phonegap-version" value="3.4.0" />
        <preference name="orientation"      value="default" />
        <preference name="target-device"    value="universal" />
        <preference name="fullscreen"       value="false" />
        <preference name="webviewbounce"    value="false" />

        <gap:plugin name="org.apache.cordova.core.camera" />
        <gap:plugin name="com.phonegap.plugins.barcodescanner" />      


</widget>
