<ion-view>  
        <div class="bar bar-header">
                <button class="button button-icon icon ion-ios7-arrow-back" ui-sref="tabs.schedule"></button>        
                <div class="title">Check In</div>
        </div>

        <ion-content class="has-header padding">
                <div class="card">
                        <div class="item item-text-wrap">
                                <button class="button button-block button-energized" ng-click="scan()">
                                        Scan QR Code
                                </button>
                        </div>     
                </div>
                <div class="card" style="text-align:center">
                        <div class="item item-divider" >
                                Or Check In Using Your Location...
                        </div>
                        <div class="item item-text-wrap" ng-hide="geolocated">
                                PinPointing Your Geolocation
                        </div>     
                        <div class="item item-text-wrap" ng-show="geolocated && nearby.length==0">
                                No Exploration Location Nearby
                        </div>
                        <a class="item item-text-wrap" ng-repeat="location in nearby" ng-click="doCheckin(location)">
                                {{ location.enigmaticTitle }}
                        </a>
                </div>
                <div class="card" style="text-align:center" ng-show="isAdmin && geolocated">
                        
                        <div class="item item-text-wrap">
                                {{ geolocated }}
                        </div>     
                       
                </div>
        </ion-content>

</ion-view>