<div class="bar bar-header bar-energized">
        <button class="button button-icon icon ion-ios7-arrow-left" ng-click="saveEvent()"></button>
        <div class="title">Add An Event</div>
</div>

<ion-content class="has-header">

        <ion-list>

                <ion-item class="item-divider">Details</ion-item>

                <ion-item class="item-input item-select">
                        <div class="input-label">
                                Series                                 
                        </div>
                        <select
                                ng-model="event.series"
                                ng-options="s.get('label') for s in relatedData.Series"
                                value="{{s.get('label')}}">                                                       
                        </select>
                </ion-item>

                <ion-item class="item-input">
                        <div class="input-label">
                                Title
                        </div>
                        <input type="text" ng-model="event.title">
                </ion-item>

                <ion-item class="item-input">
                        <div class="input-label">
                                Description
                        </div>
                        <textarea ng-model="event.description"></textarea>
                </ion-item>

                <ion-item class="item-input">
                        <div class="input-label">
                                Length (mins)
                        </div>
                        <input type="text" ng-model="event.length">
                </ion-item>

                <ion-item class="item item-icon-right item-icon-left " ng-click="cohortConstraintModal.show()">
                        <i class="icon ion-ios7-circle-outline" ng-hide="!event.cohorts"></i>
                        <i class="icon ion-ios7-checkmark-outline" ng-show="event.cohorts.length!=0"></i>
                        <div class="input-label">
                                Constrain To Cohorts                 
                        </div>
                        <i class="icon ion-ios7-arrow-right"></i>
                </ion-item>


                <ion-item class="item item-divider item-icon-right">
                        Iterations
                        <i class="icon ion-ios7-plus-outline" ng-click="addIteration()"></i>
                </ion-item>

                <ion-item class="item"  ng-repeat="iteration in event.iterations" item="iteration" can-swipe="true" ng-click="editIteration(iteration)">                        

                        <h2>{{ moment(iteration.get('time')).format("HH:mm") }} on {{ moment(iteration.get('time')).format("DD/MM/YY") }}</h2>
                        <p>with {{ iteration.get('host').get('forename') }} {{ iteration.get('host').get('surname') }} in {{ iteration.get('location').get('label') }}</p>        

                        <ion-option-button class="button-assertive" ng-click="deleteIteration(iteration)">
                                Delete
                        </ion-option-button>
                </ion-item>  

        </ion-list>

</ion-content>