<div class="bar bar-header bar-energized">
        <button class="button button-icon icon ion-ios7-arrow-left" ng-click="saveEvent()"></button>
        <div class="title">Add An Event</div>
</div>

<ion-content class="has-header">

        <div class="list">

                <div class="item item-divider">Details</div>                              

                <div class="item-input item-select">
                        <div class="input-label">
                                Series                                 
                        </div>


                        <select
                                ng-model="event.series"
                                ng-options="s.get('label') for s in relatedData.Series"
                                value="{{s.get('label')}}">                                                       
                        </select>

                </div>

                <div class="item-input">
                        <div class="input-label">
                                Title
                        </div>
                        <input type="text" ng-model="event.title">
                </div>

                <div class="item-input">
                        <div class="input-label">
                                Description
                        </div>
                        <textarea ng-model="event.description"></textarea>
                </div>

                <div class="item item-divider item-icon-right">
                        Iterations
                        <i class="icon ion-ios7-plus-outline" ng-click="addIteration()"></i>
                </div>

                <div class="item"  ng-repeat="iteration in event.iterations" item="iteration" can-swipe="true" ng-click="editIteration(iteration)">                        

                        <h2>{{ moment(iteration.get('time')).format("HH:mm") }} on {{ moment(iteration.get('time')).format("DD/MM/YY") }}</h2>
                        <p>with {{ iteration.get('host').get('forename') }} {{ iteration.get('host').get('surname') }} in {{ iteration.get('location').get('label') }}</p>        

                        <ion-option-button class="button-assertive" ng-click="deleteIteration(iteration)">
                                Delete
                        </ion-option-button>
                </div>        


        </div>

</ion-content>