<ion-view>

        <div class="bar">
                <button class="button button-icon icon ion-ios7-arrow-back" ui-sref="viewEvent({id:id})"></button>
                <h2 class="title">Message Attendees</h2>
                <button class="button button-icon icon ion-ios7-paperplane-outline" ng-click="sendMessage()"></button>

        </div>

        <ion-content class="has-header">    
                
                <div class="list list-inset">           
                        <label class="item item-input">
                                <textarea rows="15" placeholder="Type your message here, and then click the icon at the top-right of the screen" ng-model="data.message"></textarea>
                        </label>
                </div>
        </ion-content>

</ion-view>