<ion-view>

        <div class="bar">
                <button class="button button-icon icon ion-ios7-arrow-back" ui-sref="viewEvent({id:id})"></button>

                <h2 class="title">Attendence Register</h2>
        </div>

        <ion-content class="has-header">    
                <ion-list>
                        <ion-item class="item-icon-left" ng-repeat="booking in bookings" ng-click="toggleAttendence(booking)">
                                {{booking.get("user").get("email")}}
                                <i class="icon ion-ios7-circle-outline" ng-hide="booking.attended"></i>
                                <i class="icon ion-ios7-checkmark-outline" ng-show="booking.attended"></i>
                        </ion-item>
                </ion-list> 
        </ion-content>
</ion-view>