<div class="bar bar-header">
        <button class="button button-icon icon ion-ios7-arrow-back" ui-sref="tabs.schedule"></button>
        <div class="title"></div>
</div>

<ion-content class="has-header">
        <div class="list card">

                <div class="item item-icon-right item-text-wrap" >     
                        <p ng-click="personinfoModal.show()">
                                {{ iteration.event.series.label }} with {{ iteration.host.forename }} {{ iteration.host.surname}}
                                <i class="icon ion-ios7-information-outline"></i>
                        </p>
                </div>    


                <div class="item">
                        <h2>{{ iteration.event.title }}</h2>
                        <p>{{ moment(iteration.time).format("dddd, MMMM Do @ h:mm a"); }}</p>
                </div>

                <div class="item item-icon-right" ng-show="booking.attending">     
                        <p ng-click="locationinfoModal.show()">
                                {{ iteration.location.label }}  
                                <i class="icon ion-ios7-information-outline"></i>
                        </p>
                </div>    

                <div class="item item-body">
                        <p>
                                {{ iteration.event.description }}
                        </p>
                        <p>
                                This event will last for {{ iteration.event.duration }} minutes
                        </p>
                        <p style="text-align:right; font-size:0.6em;">
                                {{ iteration.capacity - iteration.bookings }} Places Available               
                        </p>
                </div>

                <div ng-show="emailVerified">    

                        <div class="item item-body" ng-hide='(moment().isAfter(moment(iteration.time).subtract("days",2).hour("6").minute("0")) || securityLevel==1  || allowBookings)'>
                                <p>Check back from {{ moment(iteration.time).subtract("days",2).format("Do MMMM"); }} to book yourself onto this pop-up.</p>                                                               
                        </div>
                        <div ng-show='(moment().isAfter(moment(iteration.time).subtract("days",2).hour("6").minute("0")) || securityLevel==1 || allowBookings)'>

                                <ion-toggle class="item item-footer" ng-model="iteration.booked" ng-hide="(iteration.capacity - iteration.bookings)==0 && !iteration.booked">Indicate Your Attendence:</ion-toggle>  
                                <div ng-show="(iteration.capacity - iteration.bookings)==0  && !iteration.booked" >
                                        <div class="item item-footer">
                                                This Event is Fully Booked <span ng-show="alternativeIterations.length>0">, Here Are Some Alternative Times and Days:  </span>                                              
                                        </div>
                                        <div class="item item-icon-right" ng-repeat="i in alternativeIterations" ui-sref="viewEvent({id:i.id})">
                                                {{ moment(i.time).format("dddd, MMMM Do @ h:mm a"); }}
                                                <i class="icon ion-ios7-arrow-right"></i>

                                        </div>
                                </div>

                        </div>

                </div>
                <a class="item item-body item-icon-right" ng-click="sendEmailConfirmation()"  ng-hide="emailVerified" class="item item-body" style="font-size:1em;">
                        <p>You can't book into an event until you have confirmed your email address.</p> 
                        <p>Click here to resend the confirmation email</p>
                        <i class="icon ion-ios7-arrow-right"></i>

                </a>
        </div>
        <div class="list card" ng-show="currentUser.id === iteration.host.id || securityLevel==1">

                <div class="item item-divider">
                        Tools For Event Hosts
                </div>

                <a ui-sref="editEvent({id:iteration.event.id })" ng-show="securityLevel==1" class="item item-body" style="font-size:1em;">
                        Edit Event
                </a>

                <div>
                        <a ui-sref="eventQRCode({id:iteration.id})" class="item item-body" style="font-size:1em;">
                                Generate QR Code
                        </a>        
                        <a ui-sref="eventRegister({id:iteration.id})" class="item item-body"  style="font-size:1em;">
                                Attendence Register
                        </a>
                        <a ui-sref="messageAttendees({id:iteration.id})" class="item item-body"  style="font-size:1em;">
                                Message Attendees
                        </a>
                </div>
        </div>
</ion-content>