<div class="bar bar-header bar-energized">
        <button class="button button-icon icon ion-ios7-arrow-back" ui-sref="tabs.schedule"></button>
        <div class="title"></div>
</div>

<ion-content class="has-header">
        <div class="list card">

                <div class="item item-icon-right" >     
                        <p ng-click="personinfoModal.show()">
                                {{ iteration.get("event").get("series").get("label") }} with {{ iteration.get("host").get("forename") }} {{ iteration.get("host").get("surname")}}
                                <i class="icon ion-ios7-information-outline"></i>
                        </p>
                </div>    


                <div class="item">
                        <h2>{{ iteration.get("event").get('title') }}</h2>
                        <p>{{ moment(iteration.get('time')).format("dddd, MMMM Do @ h:mm a"); }}</p>
                </div>

                <div class="item item-icon-right" ng-show="booking.attending">     
                        <p ng-click="locationinfoModal.show()">
                                {{ iteration.get('location').get('label') }}  
                                <i class="icon ion-ios7-information-outline"></i>
                        </p>
                </div>    

                <div class="item item-body">
                        <p>
                                {{ iteration.get("event").get('description') }}
                        </p>
                        <p style="text-align:right; font-size:0.6em;">
                                {{ iteration.get('capacity') - bookings }} Places Available               
                        </p>
                </div>

                <div ng-show="emailVerified">    
                        <ion-toggle class="item item-footer" ng-model="booking.attending" ng-hide="(iteration.get('capacity') - bookings)==0 && booking.attending==false">Indicate Your Attendence:</ion-toggle>  
                        <div class="item item-footer" style="text-align:center;" ng-show="(iteration.get('capacity') - bookings)==0  && booking.attending==false" >This Event is Fully Booked</div>
                </div>

                <a href="#" ng-click="sendEmailConfirmation()"  ng-hide="emailVerified" class="item item-body" style="font-size:1em;">
                        <p>You can't book into an event until you have confirmed your email address.</p> 
                        <p>Click to resend the confirmation email</p>
                </a>

                <a ui-sref="editEvent({id:iteration.get('event').id})" ng-show="securityLevel==1" class="item item-body" style="font-size:1em;">
                        Edit Event
                </a>

                <div ng-show="currentUser.id === iteration.get('host').id || securityLevel==1">
                        <a ui-sref="eventQRCode({id:iteration.id})" class="item item-body" style="font-size:1em;">
                                Generate QR Code
                        </a>        
                        <a ui-sref="eventRegister({id:iteration.id})" class="item item-body"  style="font-size:1em;">
                                Attendence Register
                        </a>
                </div>






        </div>
</ion-content>