<ion-view>
        <div class="splash-screen">
                <div class="splash-logo mmu-font">The Birley Big Bang</div>
                <div class="splash-player-count mmu-font">- {{userCount}} Players -</div>
        </div>

        <div class="list splash-login-panel mmu-font">
                <label class="item item-input">
                        <input type="email" placeholder="MMU Email Address" ng-model="loginUser.username" class="computer-font small-font" style="text-align:center !important;">
                </label>
                <label class="item item-input">
                        <input type="password" placeholder="Password" ng-model="loginUser.password" class="computer-font small-font" style="text-align:center !important;">
                </label>

                <br/>
                
                <div class="button-bar">
                        <a class="button button-dark mmu-font" ng-click="signIn()">Login</a>
                        <a class="button button-dark mmu-font" ui-sref="register">Register</a>
                </div>

        </div>
</ion-view>