<ion-view>
        <ion-content class="has-header">    

                <ion-list>
                        <ion-item ng-show="isAdmin" ui-sref="addLocation">
                                Add A Location...
                        </ion-item>

                        <div ng-repeat="category in locationCategories" >
                                <ion-item class="item-divider">
                                        {{category}}
                                </ion-item>
                                <ion-item href="#" ng-repeat="location in locations | filter: category | filter: location.explorationLocation=true "  
                                          ui-sref="viewLocation({id:location.id})"
                                          class="item-icon-left item-icon-right">
                                        <i class="icon ion-ios7-circle-outline" ng-hide="location.visited"></i>
                                        <i class="icon ion-ios7-checkmark-outline" ng-show="location.visited"></i>

                                        <h2>{{ location.visited ? location.label : location.enigmaticTitle }}</h2>
                                        <p>{{ location.visited ? location.blurb : location.clue }} </p>

                                        <i class="icon ion-ios7-arrow-right"></i>

                                </ion-item>                                
                        </div>                                              

                </ion-list>
        </ion-content>
</ion-view>