<div class="modal">
  <div class="bar bar-header bar-energized">
    <button class="button button-icon icon ion-close" ng-click="settingsModal.hide()"></button>
    <div class="title computer-font small-font">Settings</div>
    <button class="button button-icon icon ion-checkmark" ng-click="settingsModal.hide()"></button>
  </div>
  <ion-content has-header="true">
    <button class="button button-full button-assertive" ng-click="signOut();">
      Sign Out
    </button>        
  </ion-content>
</div>