<div class="modal">
        <div class="bar bar-header">
                <button class="button button-icon icon ion-ios7-arrow-back" ng-click="modal.hide()"></button>
                <div class="title"></div>
        </div>

        <ion-content class="has-header">
                
                <ionlist>
                        <ion-radio ng-repeat="programme in programmes" ng-model="newUser.programme" ng-value="programme" class="item-text-wrap"><p>{{ programme.get('label') }}</p></ion-radio>
                </ionlist>
                
        </ion-content>
</div>