@import url('user/splash.css');
@import url('backgrounds.css');


.computer-font {
  font-family: 'Press Start 2P', cursive !important;
}
.small-font {
  font-size: .6em !important;
}
.medium-font {
  font-size: .8em !important;
}

.valid {  
  color: black;
}

.invalid {
  color: red;
}

.view, .pane, .scroll-content, .scroll, .list, .item, .item-content {
  background-color:rgba(0, 0, 0, 0) !important;
}

.bar {
  background-color:rgba(247, 200, 0, 0.8) !important;
  border: rgba(247, 200, 0, 1) 1px solid;
}

.button, .title {
  color:black !important;
}

.tabs, .tab-item {
  background-color:rgba(247, 200, 0, 0.8) !important;
  color:black;
  border: none;
}


.scroll-content {
  background-color:rgba(255, 255, 255, 0.9) !important;
}
